#square {
    width: 100px;
    height: 100px;
    border: 0px solid black;
    display: block;

    position: absolute;
    z-index: 2;
}

.circle{
    width: 50px;
    height: 50px;
    display: block;

    position: absolute;
    z-index: 1;
}

#UI-top{
    top: 0px;
    right: 0px;
    position: fixed;
    z-index: 3;
}

#progress-container{
    margin: 0;
    position: fixed;
    top: 0px;
    right: 0px;

    height: 1%;
    width: 100%;
}

#progress-time{
    position: absolute;
    top: 0;
    right: 0;

    background-color: rgba(200,60,75,0.7);

    height: 100%;

    transition-duration: 0ms;
    transition-property: transform;
}

#score-container {
    box-sizing: border-box;

    margin-top: 1%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;

    position: fixed;
    right: 0;
    top: 0;

    font-size: 200%;
}

#score-img {
    box-sizing: border-box;
    display: inline-block;

    bottom: 0;

    margin-top: 0;

    height: 1cap;
}

#score-text{
    box-sizing: border-box;
    display: inline-block;

    bottom: 0;

    margin-top: 0;
    margin-bottom: 0;
    
    text-align: right;
    
    font-family: monospace, sans-serif, Helvetica;
    font-size: 1em;
}

#shop-container {
    position: fixed;
    top: 20%;
    left: 20%;
    z-index: 4;

    width: 60%;
    height: 60%;

    background-color: rgb(239, 231, 236);
}

#shop-info-container {
    display: block;
    
    position: relative;
    top: 0;

    height: 15%;

    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 0px;
    margin-left: 8px;

    background-color: rgb(223, 208, 217);
}

.shop-info {
    margin: 0px;
}

#shop-info-title {
    position: absolute;
    top: 0;
    left: calc( (100% - 34px - 20px)/2 );

    width: 34px;

    padding: 0 20px;

    border-color: rgba(200,60,75,0.7);
    border-width: 2px;
    border-style: solid;

    background-color: rgb(229, 231, 191);
}

#shop-info-due-date {
    position: absolute;
    top: 0;
    left: 0;
}

#shop-info-curency-container {
    box-sizing: border-box;

    position: absolute;
    top: 0;
    right: 0;

    font-size: 150%;
}

#shop-info-curency-img {
    box-sizing: border-box;
    display: inline-block;

    bottom: 0;

    margin-top: 0;

    height: 1cap;
}

#shop-info-curency-text{
    box-sizing: border-box;
    display: inline-block;

    bottom: 0;

    margin-top: 0;
    margin-bottom: 0;
    
    text-align: right;
    
    font-family: monospace, sans-serif, Helvetica;
    font-size: 1em;
}

#shop-info-continue {
    position: absolute;
    bottom: 0;
    right: 0;

    border-color: rgba(200, 60, 74, 0.3);
    background-color: rgb(229, 231, 191);
}

#shop-items-container {
    display: flex;
    flex-direction: row;

    position: relative;
    top: 0;
    left: 0;
    
    bottom: 0;
    box-sizing: border-box;
    
    width: calc(100% - 16px);
    max-width: calc(100% - 16px);
    height: calc(85% - 24px);
    
    margin: 8px;

    overflow: hidden;
    row-gap: 8px;

    justify-content: space-between;
    
    background-color: rgb(223, 208, 217);
}

.shop-item {
    margin: inherit;
    flex-grow: 1;

    font-size: 100%;
    font-family: sans-serif;
    text-align: center;

    max-width: calc( (100%/3) - 8px - 8px);
    container-type: size;

    padding: 8px;

    background-color: rgba(239, 231, 236, 0.65);
}

.shop-item-title {
    font-size: 1.5rem;
    margin: 0;
    width: 100%;
}

.shop-item-img {
    position: relative;
    left: calc(50% - (min(100%, calc( ( (100cqh - 1.5rcap - 8px) / 7) * 5)) / 2) );
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;

    width: min(100%, calc( ( (100cqh - 1.5rcap - 8px) / 7) * 5));
    max-height: 100%;
    aspect-ratio: 5/7;
}

.shop-item-text {
    position: relative;
    font-size: 1em;
    margin: 0;
    width: 100%;
    top: 70%;
}